<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<p th:text="${user.getId()}">VALUE</p>
<p th:text="${user.getName()}">VALUE</p>
<p th:text="${user.getSurname()}">VALUE</p>
<p th:text="${user.getAge()}">VALUE</p>

<a th:href="@{/users/{id}/upgrade(id=${user.getId()})}">upgrade</a>

<br/>
<br/>

<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
    <input type="submit" value="DELETE"/>
</form>

<br/>


<a th:href="@{/users}">All users</a>

</body>
</html>